@import "main.css";
html,
body {
  overflow: hidden;
}
body {
  background-color: var(--background-blue);
  color: var(--highlight-white);
  position: relative;
}
main {
  margin-top: 2vh;
  width: 100vw;
  height: 80vh;
  display: grid;
  grid-template: 10% 20% 70% / 100%;
}

h2 {
  font-size: 3rem;
  font-family: sans-serif;
  grid-area: 1 / 1;
  text-align: center;
}
.p5Canvas {
  margin: 0 auto;
  border-radius: 15px;
  grid-area: 3 / 1;
}

#palette {
  grid-area: 2 / 1;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  padding: 15px 20%;
}

input[type="radio"] {
  width: 90%;
  height: 90%;
  margin: auto;
  border: none;
  appearance: none;
  border-radius: 15px;
  background-color: white;
  transition-duration: 0.1s;
  border: 3px var(--background-blue) solid;
}
input[type="radio"]:checked {
  transform: scale(1.1);
  border-color: var(--highlight-white);
}

@media (min-width: 1025px) {
  main {
    grid-template: 10% 10% 80% / 100%;
  }

  h2 {
  }
  .p5Canvas {
  }

  #palette {
    width: 800px;
    padding: 0 0 15px 0;
    margin: 0 auto;
    grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  input[type="radio"] {
    width: 80%;
    height: 90%;
  }
}
