@import "main.css";
* {
  overflow: hidden;
}

body {
  background-color: var(--background-blue);
  color: var(--highlight-white);
  position: relative;
  height: 100vh;
}

main {
  margin-top: 15vh;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-content: center;
}

#page-container {
  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
  font-size: 50rem;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  padding: 0 5vw;
}

.question {
  margin: 1.6vh 1.35vw;
  font-size: 1.75rem !important;
  font-family: sans-serif;
}

.sub-text {
  font-family: sans-serif;
  font-size: 0.9rem;
  color: var(--sub-gray);
  margin: 0px 15px 0px 15px;
}

.scale-container {
  font-family: sans-serif;
  font-size: 1rem;
  width: 100%;
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
}

.button-container {
  width: 100%;
  height: 20vh;
  position: relative;
  text-align: center;
}

.go-next {
  font-size: 2rem;
  outline: none;
  padding: 5px 35px;
  border-radius: .5em;
  margin: 5px;
  background-color: var(--accent-blue);
  color: var(--highlight-white);
}

.go-visual {
  font-size: 2rem;
  outline: none;
  padding: 5px 35px;
  border-radius: .5em;
  margin: 5px;
  background-color: var(--accent-blue);
  color: var(--highlight-white);
}

.p5Canvas {
  margin: 0 auto;
  border-radius: 1em;
}

#palette {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
  padding: 5vw;
  grid-row-gap: 3vw;
  grid-column-gap: 3vw;
}

input[type="radio"] {
  width: 12vw;
  height: 12vw;
  appearance: none;
  border-radius: 1vw;
  background-color: white;
  transition-duration: 0.1s;
  border: 3px var(--background-blue) solid;
  border-radius: 1vh;
}

input[type="radio"]:checked {
  transform: scale(1.1);
  border-color: var(--highlight-white);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2vh;
  outline: none;
  border-radius: 50px;
  margin-bottom: 20px;
}

/* for chrome/safari */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2vh;
  height: 2vh;
  background: var(--accent-blue);
  cursor: pointer;
  border-radius: 1vh;
}

/* for firefox */
.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2vh;
  height: 2vh;
  background: var(--accent-blue);
  cursor: pointer;
  border-radius: 50px;
}

@media (orientation: landscape) {
  #palette {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    padding: 2vh;
    grid-row-gap: 1vh;
    grid-column-gap: 1vh;
  }
  
  input[type="radio"] {
    width: 12vh;
    height: 12vh;
    appearance: none;
    border-radius: 1vh;
    background-color: white;
    transition-duration: 0.1s;
    border: 3px var(--background-blue) solid;
    border-radius: 1vh;
  }
  
  input[type="radio"]:checked {
    transform: scale(1.1);
    border-color: var(--highlight-white);
  }
}