@import "main.css";
* {
  overflow: hidden;
}
body {
  background-color: var(--background-blue);
  color: var(--highlight-white);
  position: relative;
  height: 100vh;
}
main {
  margin-top: 15px;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-content: center;
}

#page-container {
  width: 100%;
}

.page {
  width: 100%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  padding: 0 50px;
}

.question {
  margin: 30px 15px;
  font-size: 48pt;
  font-family: sans-serif;
}

.sub-text {
  font-family: sans-serif;
  font-size: 24pt;
  color: var(--sub-gray);
  margin: 0px 15px 30px 15px;
}

.scale-container {
  font-family: sans-serif;
  width: 100%;
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
}

.button-container {
  display: flex;
  width: 800px;
  margin: 20px auto;
  justify-content: flex-end;
}

.go-next {
  font-size: 7rem;
  width: 100%;
  outline: none;
  padding: 5px 35px;
  border-radius: 30px;
  margin: 5px 0px;
  background-color: var(--accent-blue);
  color: var(--highlight-white);
}

.go-visual {
  font-size: 7rem;
  outline: none;
  padding: 5px 35px;
  border-radius: 30px;
  margin: 5px;
  background-color: var(--accent-blue);
  color: var(--highlight-white);
}

.p5Canvas {
  margin: 0 auto;
  border-radius: 50px;
}

#palette {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
  padding: 15px;
}

input[type="radio"] {
  width: 150px;
  height: 150px;
  appearance: none;
  border-radius: 15px;
  background-color: white;
  transition-duration: 0.1s;
  border: 3px var(--background-blue) solid;
}
input[type="radio"]:checked {
  transform: scale(1.1);
  border-color: var(--highlight-white);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 100px;
  outline: none;
  border-radius: 50px;
  margin-bottom: 20px;
}

/* for chrome/safari */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 100px;
  background: var(--accent-blue);
  cursor: pointer;
  border-radius: 50px;
}

/* for firefox */
.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 100px;
  background: var(--accent-blue);
  cursor: pointer;
  border-radius: 50px;
}
