@import "main.css";

body {
  background-color: var(--background-blue);
  color: var(--highlight-white);
  font-family: sans-serif;
}

main {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  gap: 50px;
}
main h1 {
  font-size: 50pt;
  margin-bottom: 20px;
}

.page {
  width: 100%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  padding: 0 50px;
}

.intro-text {
  font-family: sans-serif;
  font-size: 36pt;
}

img {
  width: 50%;
  margin: 15px auto;
  aspect-ratio: 1;
  border-radius: 25px;
}

.flipped {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.go-next,
#go-creation {
  font-size: 7rem;
  width: 100%;
  outline: none;
  padding: 5px 35px;
  border-radius: 30px;
  margin: 5px 0px;
  background-color: var(--accent-blue);
  border: none;
  margin-top: 2rem;
  color: var(--highlight-white);
}
